
    <div id="heroSection" class="col-md-12" ng-controller="HeroListController">
    <h2 id="pretty_header">Hero List</h2>
    <table>
      <tr id="offset" class="row col-xs-18">
        <th class="col-xs-3">Persona</th>
        <th class="col-xs-3">Alias</th>
        <th class="col-xs-3">Super Power</th>
        <th class="col-xs-3">Description</th>
      </tr>
      <tr class="row col-xs-18" ng-repeat="hero in hlc.heroList.list" class="row col-xs-12">
        <td class="col-xs-3">{{hero.persona}}</td>
        <td class="col-xs-3">{{hero.alias}}</td>
        <td class="col-xs-3">{{hero.name}}</td>
        <td class="col-xs-3">{{hero.description}}</td>
        <td><span class="col-xs-3" ng-show="employee.status"><button ng-click="home.deactivateEmployee(employee.id)" class="btn btn-primary">Deactivate</button></span></td>
        <td><span class="col-xs-3" ng-hide="employee.status"><button ng-click="home.activateEmployee(employee.id)" class="btn btn-info">Activate</button></span></td>
      </tr>
    </table>
  </div>
